<%= form_for @sekilas_info, :html => {:honeypot => true} do |f| %>
  <% if @sekilas_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sekilas_info.errors.count, "error") %> prohibited this sekilas_info from being saved:</h2>

      <ul>
      <% @sekilas_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Judul" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "Isi" %><br>
    <%= f.cktext_area :content, :id => 'Isi_sekilas_info' %>
  </div>
  
  
  <div class="actions">
      <%= action_name == "new" ? (f.submit "Buat Sekilas Info") : (f.submit "Update Sekilas Info") %>
  </div>
<% end %>
