<%= form_for(@sekilas_info) do |f| %>
  <% if @sekilas_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sekilas_info.errors.count, "error") %> prohibited this sekilas_info from being saved:</h2>

      <ul>
      <% @sekilas_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Judul" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "Isi" %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%# if params[:action]== "new" %>
    <%= f.submit %>
    <%# else %>
    <%#= f.submit, "Edit Sekilas Info"  %>
    <%# end %>
  </div>
<% end %>
