<div class="wrap">
  <%= render "shared/navigation" %>
  <h1>Listing sekilas_infos</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sekilas_infos.each do |sekilas_info| %>
        <tr>
          <td><%= sekilas_info.title %></td>
          <td><%= sekilas_info.content %></td>
          <td><%= link_to 'Show', sekilas_info %></td>
          <td><%= link_to 'Edit', edit_sekilas_info_path(sekilas_info) %></td>
          <td><%= link_to 'Destroy', sekilas_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Sekilas info', new_sekilas_info_path %>
  
</div>
