<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4"><h3>Kirim Ulang Konfirmasi Ke Email</h3>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>

        <div><%= f.submit "Kirim Petunjuk Konfirmasi", class: 'btn btn-primary' %></div>
      <% end %>

      <p><%= render "devise/shared/links" %></p>
      <div class="span4"></div>
    </div>
  </div>
</div>
