<%= form_for @daftar_pegawai, :html => {:honeypot => true} do |f| %>
  <% if @daftar_pegawai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daftar_pegawai.errors.count, "error") %> prohibited this daftar_pegawai from being saved:</h2>

      <ul>
      <% @daftar_pegawai.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nama" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nip %><br>
    <%= f.number_field :nip %>
  </div>
  <div class="field">
    <%= f.label :pangkat_id, "Golongan/Pangkat" %><br>    
    <%= f.collection_select(:pangkat_id, Pangkat.order("created_at asc"), :id, :nama_pangkat)  %>
  </div> 
  <div class="field">
    <%= f.label :jabatan_id %><br>
    <%= f.collection_select(:jabatan_id, Jabatan.order("created_at asc"), :id, :nama_jabatan)  %>    
  </div>
  <div class="actions">
    <% if action_name == 'new' %>
      <%= f.submit "Input Pegawai" %>
    <% else %>
      <%= f.submit "Edit Pegawai" %>
    <% end %>
  </div>
<% end %>
