<div class="wrap">
  <%= render 'shared/navigation' %>
  <div class="container">    
    <div class="row">
      <h3>Daftar Pegawai</h3>
      <% if params[:edit] %>
      <p><%= link_to 'Input Pegawai', new_daftar_pegawai_path, class: "btn btn-primary" %> </p>
      <% end %>

      <table class="table">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Nip</th>
            <th>Pangkat</th>            
            <th>Jabatan</th> 
            <% if params[:edit] %>          
            <th></th>
            <th></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @daftar_pegawais.each do |daftar_pegawai| %>
            <tr>
              <td><%= daftar_pegawai.name %></td>
              <td><%= daftar_pegawai.nip %></td>
              <td><%= daftar_pegawai.pangkat.nama_pangkat %></td>
              <td><%= daftar_pegawai.jabatan.nama_jabatan %></td>   
              <% if params[:edit] %>           
              <td><%= link_to 'Edit', edit_daftar_pegawai_path(daftar_pegawai) %></td>
              <td><%= link_to 'Hapus', daftar_pegawai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

     

      
    </div>
  </div>
</div>

