<div class= "wrap">
  <div class="container">
    <div class="row">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nama:</strong>
        <%= @daftar_pegawai.name %>
      </p>

      <p>
        <strong>Nip:</strong>
        <%= @daftar_pegawai.nip %>
      </p>

      <p>
        <strong>Pangkat:</strong>
        <%= @daftar_pegawai.pangkat.nama_pangkat %>
      </p>     

      <p>
        <strong>Jabatan:</strong>
        <%= @daftar_pegawai.jabatan.nama_jabatan %>
      </p>

      <%= link_to 'Edit', edit_daftar_pegawai_path(@daftar_pegawai) %> |
      <%= link_to '« Kembali', daftar_pegawais_path %>
      
    </div>
  </div>
</div>

