<div class="wrap">
  <div class="container">
      <div class="row">
        <div class="span4">
          <h3>Daftar Menu</h3>           
            <ul class="nav nav-tabs nav-stacked">              
                <!-- About -->
                <li class="header" >Profil</li>                             
                 
                    <li><%= link_to 'Sambutan Kepala Dinas',sambutan_kepala_dinas_path( :edit => true)%></li>
                    <li><%= link_to 'Sejarah', sejarah_path( :edit => true) %></li>
                    <li><%= link_to 'Struktur Organisasi', struktur_organisasi_path( :edit => true) %></li>
                    <li><%= link_to 'Tugas Pokok Dan Fungsi', tugas_pokok_dan_fungsi_path( :edit => true) %></li>
                    <li><%= link_to 'Visi Dan Misi', visi_dan_misi_path( :edit => true) %></li>
                    <li><%= link_to 'Pegawai', pegawai_path( :edit => true) %></li>                    
                <!--  -->
              </br>
                <!-- campus -->
                <li class="header" >Berita</li>         
                    <li><%= link_to 'berita DPU', admin_berita_dpu_path( :edit => true) %></li>
                    <li><%= link_to 'Sekilas Info', admin_sekilas_info_path( :edit => true) %></li>                   
                    <li><%= link_to 'Suara Rakyat', admin_suara_rakyat_path( :edit => true) %></li>                                
                <!--  -->
              </br>   
                <!-- curriculum -->
                <li class="header" >Info</li>      
                    <li><%= link_to 'Galeri Foto', "#" %></li>
                    <li><%= link_to 'Produk Data', produk_data_path( :edit => true) %></li>
                    <li><%= link_to 'Program Dan Anggaran', program_dan_anggaran_path( :edit => true) %></li>
                    <li><%= link_to 'Proyek Strategis', proyek_strategis_path( :edit => true) %></li>
                    <li><%= link_to 'Video', "#" %></li>                           
                <!--  -->
              </br>
                <!-- Programs -->
                <li class="header" >Unit Kerja</li>                        
                    <li><%= link_to 'Sekretariat', sekretariat_path( :edit => true) %></li>
                    <li><%= link_to 'Bidang Bina Marga', bina_marga_path( :edit => true) %></li>
                    <li><%= link_to 'Bidang Cipta Karya', cipta_karya_path( :edit => true) %></li>
                    <li><%= link_to 'Bidang Penataan Ruang', penataan_ruang_path( :edit => true) %></li>
                    <li><%= link_to 'Bidang Kebersihan', kebersihan_path( :edit => true) %></li> 
                    <li><%= link_to 'Bidang Pengairan', pengairan_path( :edit => true) %></li> 
                    <li><%= link_to 'UPTD', uptd_path(:edit => true)%></li>                                             
                <!--  --> 
                                                  
            </ul> 
        </div>
      </div>
     <div class="pull-left"><%= link_to 'Ke Beranda »', root_url, class: 'btn' %></div>
     </br>
     </br>
     </div>
 
</div>
