<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4"></div>
      <div class="span4"></div>
    </div>
  </div>
</div>

<h3>Kirim ulang petunjuk membuka kunci</h3>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, honeypot: true }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Kirim ulang petunjuk buka kunci", class:'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
