<%= form_for @suara_rakyat, :html => {:honeypot => true}

 do |f| %>
  <% if @suara_rakyat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suara_rakyat.errors.count, "error") %> prohibited this suara_rakyat from being saved:</h2>

      <ul>
      <% @suara_rakyat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nama" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address, "Alamat Lengkap" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :categori_suara_id, "Jenis" %><br>
    <%= f.collection_select(:categori_suara_id, CategoriSuara.order("created_at asc"), :id, :jenis_suara)  %>
  </div>
  <div class="field">
    <%= f.label :comment, "Komentar" %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= action_name == "new"? (f.submit "Buat Suara Anda") : (f.submit "Update Suara Anda")  %>
  </div>
<% end %>
