  <div class="wrap"> 
    <%= render "shared/navigation" %>   
    <div class="container">      
         <h3>Suara Rakyat</h3> 
          <% @suara_rakyats.order("created_at desc").limit(10).each do |suara_rakyat| %>
            <p><strong><%= suara_rakyat.name%></strong>&nbsp;--&nbsp;<%= suara_rakyat.address %></p>
            <p><%= simple_format suara_rakyat.comment %></p></br>   
          <% end %>  
    </div>
    <%= render "shared/footer" %>
  </div>
        


