
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <h1>
                            <a class="brand" href="index.html">Dinas Pekerjaan Umum</a>
                        </h1>
                       
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <!-- Home -->
                                <li class="current-page">
                                  <%=link_to 'Home'.html_safe, root_url%>   
                                </li>      
                                <!-- -->
                                
                                <!-- About -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">
                                      Profil                                
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu">   
                                    <li><%= link_to 'Sambutan Kepala Dinas',sambutan_kepala_dinas_path %></li>
                                    <li><%= link_to 'Sejarah', sejarah_path %></li>
                                    <li><%= link_to 'Struktur Organisasi', struktur_organisasi_path %></li>
                                    <li><%= link_to 'Tugas Pokok Dan Fungsi', tugas_pokok_dan_fungsi_path %></li>
                                    <li><%= link_to 'Visi Dan Misi', visi_dan_misi_path %></li>                          
                                  </ul>
                                </li>
                                <!--  -->
                                
                                <!-- campus -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">
                                     Berita                                    
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu">     <li><%= link_to 'berita DPU', berita_dpu_path %></li>
                                    <li><%= link_to 'Sekilas Info', sekilas_info_path%></li>
                                    <li><%= link_to 'Siaran Pers', siaran_pers_path %></li>
                                    <li><%= link_to 'Suara Rakyat', suara_rakyat_path %></li>                      
                                  </ul>
                                </li>                               
                                <!--  -->
                                
                                <!-- curriculum -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">
                                     Info
                                    
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu">     <li><%= link_to 'Galeri Foto', "#" %></li>
                                    <li><%= link_to 'Perijinan Dan Pelayanan', perijinan_dan_pelayanan_path %></li>
                                    <li><%= link_to 'Produk Data', produk_data_path %></li>
                                    <li><%= link_to 'Produk Hukum Dan Kebijakan', produk_hukum_dan_kebijakan_path %></li>
                                    <li><%= link_to 'Program Dan Anggaran', program_dan_anggaran_path %></li>
                                    <li><%= link_to 'Proyek Strategis', proyek_strategis_path %></li>
                                    <li><%= link_to 'Video', "#" %></li>        
                                  </ul>
                                </li>
                                <!--  -->
                                <!-- Programs -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">Unit Kerja                                   
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu">     <li><%= link_to 'Jalan Dan Jembatan', "#" %></li>
                                    <li><%= link_to 'Prasarana Jalan, Jaringan, Dan Utilitas', prasarana_jaringan_utilitas_path %></li>
                                    <li><%= link_to 'Sekretariat', sekretariat_path %></li>
                                    <li><%= link_to 'Sumber Daya Air', sumber_daya_air_path %></li>
                                    <li><%= link_to 'Unit Pelaksana Teknis', unit_pelaksana_teknis_path %></li>
                                    <li><%= link_to 'Unit Pengelola', unit_pengelola_path %></li>                                                 
                                  </ul>
                                </li>
                               
                                <!--  -->    
                         
                            </ul>
                        </div>
                    </div>
                </div>
    