
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <h1>
                            <a class="brand" href="index.html">Dinas Pekerjaan Umum</a>
                        </h1>
                       
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <!-- Home -->
                                <li class="current-page">
                                  <%=link_to 'Beranda'.html_safe, root_url%>   
                                </li>      
                                <!-- -->
                                
                                <!-- About -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">
                                      Profil                                
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu">   
                                    <li><%= link_to 'Sambutan Kepala Dinas',sambutan_kepala_dinas_path %></li>
                                    <li><%= link_to 'Sejarah', sejarah_path %></li>
                                    <li><%= link_to 'Struktur Organisasi', struktur_organisasi_path %></li>
                                    <li><%= link_to 'Tugas Pokok Dan Fungsi', tugas_pokok_dan_fungsi_path %></li>
                                    <li><%= link_to 'Visi Dan Misi', visi_dan_misi_path %></li>
                                    <li><%= link_to 'Pegawai', pegawai_path%></li>                           
                                  </ul>
                                </li>
                                <!--  -->
                                
                                <!-- campus -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">
                                     Berita                                    
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu">     <li><%= link_to 'berita DPU', dpu_berita_path %></li>
                                    <li><%= link_to 'Sekilas Info', sekilas_infos_path%></li>                   
                                    <li><%= link_to 'Suara Rakyat', suara_rakyats_path %></li>                      
                                  </ul>
                                </li>                               
                                <!--  -->
                                
                                <!-- curriculum -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">
                                     Info
                                    
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu">     <li><%= link_to 'Galeri Foto', "#" %></li>
                                    <li><%= link_to 'Produk Data', produk_data_path %></li>
                                    <li><%= link_to 'Program Dan Anggaran', program_dan_anggaran_path %></li>
                                    <li><%= link_to 'Proyek Strategis', proyek_strategis_path %></li>
                                    <li><%= link_to 'Video', "#" %></li>        
                                  </ul>
                                </li>
                                <!--  -->
                                <!-- Programs -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">Unit Kerja                                   
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu"> 
                                    <li><%= link_to 'Sekretariat', sekretariat_path %></li>
                                    <li><%= link_to 'Bidang Bina Marga', bina_marga_path %></li>
                                    <li><%= link_to 'Bidang Cipta Karya', cipta_karya_path %></li>
                                    <li><%= link_to 'Bidang Penataan Ruang', penataan_ruang_path %></li>
                                    <li><%= link_to 'Bidang Kebersihan', kebersihan_path %></li> 
                                    <li><%= link_to 'Bidang Pengairan', pengairan_path %></li> 
                                    <li><%= link_to 'UPTD', uptd_path %></li>                                  
                                  </ul>
                                </li>
                                
                               
                                <% if user_signed_in? %> 
                                     
                                <li >
                                    <%= link_to 'Admin', admin_path %>                        
                                <li>
                                <li >
                                    <%#= link_to 'Edit Profil', edit_user_registration_path %>                        
                                <li>
                                <li class= "nav-tabs active"><%= link_to raw('<i class="icon-off"></i>'), destroy_user_session_path, method: :delete, title: "Logout", data: {tooltip: true} %>   
                                <li>            

                                <% else %>
                                <li >
                                    <%= link_to raw('<i class="icon-off"></i>'), new_user_session_path, title: "Login", data: {tooltip: true}  %>
                                </li>
                                <% end %>
                     
                               
                                <!--  -->    
                         
                            </ul>
                        </div>
                    </div>
                </div>
    