<div class="wrap">
  <%= render "shared/navigation" %>

  <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active itemCarousel">               
                  <div class="hero-unit">                   
                      <h1>Hubungi Kami</h1>
                      <p>Jika anda memiliki kritik, saran, ucapan selamat, pengaduan, dan lainnya</p>
                      <p><%= link_to "Hubungi", new_suara_rakyat_path, class:"btn btn-large btn-primary" %></p>
                    
                  </div>
                </div>
                <div class="item itemCarousel">
                 
                  <div class="hero-unit">                   
                     <h2>Bekerja keras, Bergerak cepat, Bertindak tepat</h2>                                     
                  </div>
                </div>
                <div class="item  itemCarousel">                  
                  <div class="hero-unit">                   
                      <h2>Memanfaatkan bumi dan air serta kekayaan alam bagi kemakmuran rakyat, berlandaskan Pancasila</h2>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
      
        <!-- Example row of columns -->
        <div class="row">
          <div class="span4">
            <h3>Berita DPU</h3>
            <% @dpu_berita.order("created_at desc").limit(3).each do |dpu_berita| %>
            <p><%= link_to dpu_berita.title, dpu_beritum_path(dpu_berita) %>&nbsp;-- &nbsp;<%= dpu_berita.created_at.strftime("%d %b %y").downcase %></br></p>
            <% end %>        
          </div>
          <div class="span4">
            <h3>Sekilas Info</h3>
            <p>          
                <%= truncate(@sekilas_infos.content, length: 90)%>          
            </p>
            <p><%= link_to "Selengkapnya »", @sekilas_infos%></p>
         </div>
          <div class="span4">
            <h3>Suara Rakyat</h3>         
            <% @suara_rakyats.order("created_at desc").limit(2).each do |suara_rakyat| %>
              <p><%= suara_rakyat.name%>&nbsp;--&nbsp;<%= suara_rakyat.created_at.strftime("%d %b %y").downcase %></p>
              <p><%= simple_format truncate(suara_rakyat.comment, length:30) %></p>
            <% end %><br>      
          </div>
        </div>
        
      
        <div class="push"></div>  
  </div>
</div>

<%= render 'shared/footer' %>
     
