<%= form_for @dpu_beritum, :html => {:honeypot => true} do |f| %>
  <% if @dpu_beritum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dpu_beritum.errors.count, "error") %> prohibited this dpu_beritum from being saved:</h2>

      <ul>
      <% @dpu_beritum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Judul" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "Isi" %><br>
    <%= f.cktext_area :content, :id => 'sometext' %>
  </div> 
 
  <div class="actions">
    <%= action_name == "new"? (f.submit "Buat Berita DPU") : (f.submit "Update Berita DPU")  %>
  </div>
<% end %>
