<div class="wrap">
  <%= render "shared/navigation" %>
  <div class="container">

        <% @dpu_berita.order("created_at desc").limit(1).each do |dpu_berita| %>
          <h3><strong><%= dpu_berita.title%></strong></h3>
          <p><%= simple_format dpu_berita.content %></p>
        <% end %><br>
        
        <%= render 'dpu_berita/berita_lainnya' %>
  </div>
  
  <%= render 'shared/footer' %>
</div>



