<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dpu_beritum.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @dpu_beritum.content %>
</p>

<%= link_to 'Edit', edit_dpu_beritum_path(@dpu_beritum) %> |
<%= link_to 'Back', dpu_berita_path %>
