<%= form_for @galery, html: {honeypot: true} do |f| %>
  <% if @galery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@galery.errors.count, "error") %> prohibited this galery from being saved:</h2>

      <ul>
      <% @galery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nama" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <% if action_name == 'new' %>
      <%= f.submit "Buat Galeri", class: 'btn btn-primary' %>
    <% else action_name == 'edit' %>
      <%= f.submit "Edit Galeri", class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
        
     