<div class ="wrap">
 <%= render "shared/navigation" %>
 <div class="container">
   <div class="row-fluid">      
     <div class="span12">
       <div class="row">
         <div class="field">
           <p><h3><%= @galery.name %></h3></p>
           <% if user_signed_in? && params[:new] %>
           <p><%= link_to 'Tambah Foto', new_galery_album_path(:galery_id => @galery), class: 'btn btn-primary' %></p>
           <% end %>
         </div> 
         <hr>  
             <ul class="thumbnails">
             <% for album in @galery.albums  %>           
               <li class="span4"> 
                 <div class="thumbnail">
                   <%= image_tag album.image.url(:medium)  %>                    
                   <div class="caption">
                     <center>                         
                       <p><%= album.name %></p>
                       <p>
                         <%= link_to 'Edit', edit_galery_album_path(@galery, album), class:'btn' %> 
                         <%= link_to 'Hapus', galery_album_path(@galery, album), method: :delete, data: { confirm: 'Anda Yakin?' }, class:'btn' %>
                       </p>
                     </center>                      
                   </div>                      
                
                 </div>                 
               </li>                 
             <% end %> 
              </ul> 
        <div class="field">
          <%= link_to '« Kembali', galeries_path %>
        </div>                     
       </div> 
     </div>      
   </div>
 </div>
</div>


