<%= form_for @page, :html => {:honeypot => true} do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@page.errors.count, "error") %>, dan tidak dapat menyimpan karena:</h3>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Judul" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content, "Isi" %><br>
    <%= f.cktext_area :content, :id => 'sometext' %>   
  </div>
  <div class="field">
    <%= f.label :permalink, "Link url" %><br>
    <%= f.text_field :permalink %>
  </div>
  <div class="field">
    <%#= f.label :picture_id %><br>
    <%#= f.number_field :picture_id %>
  </div>
  <div class="actions">
    <%= action_name == "new" ? (f.submit "Buat Halaman") : (f.submit "Update Halaman") %>
  </div>
  
  
<% end %>
