<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Daftar Halaman</h1>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>              
              <th></th>
              <th></th>
              
            </tr>
          </thead>

          <tbody>
            <% @pages.each do |page| %>
              <tr>
                <td><%= page.id %></td>
                <td><%= link_to page.name, page %></td>                
                <td><%= link_to 'Show', page %></td>
                <td><%= link_to 'Edit', edit_page_path(page) %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Page', new_page_path %>
        
      </div>
    </div>
  </div>
</div>
