<div class ="wrap">
  <%= render "shared/navigation" %>
  <div class="container">
    <div class="row">      
      <div class="span12">
        <div class="row">
          <div class="field">
            <%= link_to 'Tambah Foto', new_album_path, class: 'btn btn-primary' %>
          </div> 
          <hr>  
       
              <% @albums.each do |album| %>
              <div class="span4">
                <div class="thumbnail">         
                    <%= link_to album.name,album %>                      
                    <%= link_to 'Edit', edit_album_path(album) %> |
                    <%= link_to 'Hapus', album, method: :delete, data: { confirm: 'Anda Yakin?' } %> 
                </div>
              </div> 
                    
              <% end %>              
        </div> 
        <div class="field">
          <%= link_to '« Kembali', galleries_path %>
        </div>    
       
      </div>      
    </div>
  </div>
</div>

