<!DOCTYPE html>
<html>
<head>
  <title>Dinas PU Luwu Utara</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="description" content="Dinas Pekerjaan Umum Luwu Utara">
  <meta name="author" content="Dinas Pekerjaan Umum Luwu Utara">  
   <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
</head>
<body>  
    <%= yield %>      
</body>
</html>
